header{
    height: 12vh;
    background-color: #03dd63;
}

main{
    height: 80vh;
    background-image: linear-gradient(to bottom, #03dd63, #00ac90, #007796, #004371, #001433);
    overflow: scroll;
}

footer{
    height: 8vh;
    background-color: #001433;
}

.big-square{
    width: 600px;
    height: 600px;
}

.square{
    width: calc(100% / 10);
    height: calc(100% / 10); 
    border: 1px solid black;
    cursor: crosshair;
    color: white;
}

.click{
    background-color: aqua;
}

.loser{
    /* background-color: red;  */
    background-image: url('https://toppng.com/uploads/preview/explosion-png-hd-transparent-explosion-hd-explosion-clipart-transparent-11562889354jmuy89mfmc.png');
    background-position: center;
    background-size: contain;
}
