header{
    height: 12vh;
    background-color: #03dd63;
}

main{
    height: 80vh;
    background-image: linear-gradient(to bottom, #03dd63, #00ac90, #007796, #004371, #001433);
    overflow: scroll;
}

footer{
    height: 8vh;
    background-color: #001433;
}

/* .big-square{
    width: 600px;
    height: 600px;
} */

.square{
    width: calc(100% / 10);
    height: calc(100% / 10); 
    border: 1px solid black;
    cursor: crosshair;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.click{
    background-color: aqua;
}

.loser{
    background-color: red;
    background-image: url(../bomb-png-46588.png);
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
}
